@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fontManrope:"Manrope";
  --posX:0px;
  --posY:0px;
  --progWidth:0%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope:var(--fontManrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:var(--fontManrope), Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100vh;
  position: relative;
}

@layer components{
  .btnAdv{
    @apply w-auto h-auto px-3 py-1.5
     bg-amber-300 text-amber-800 text-[9pt] rounded-2xl
     cursor-pointer text-center tracking-wider;
  }

  .advClass{
    @apply w-auto h-auto px-4 py-2 rounded-2xl
     bg-zinc-700 text-zinc-400 text-[10pt] 
     absolute 
     top-[var(--posY)] left-[var(--posX)];
  }

.divObjPos{
  @apply w-auto h-auto text-[10pt]
   text-amber-300 flex justify-center items-center
   px-3 py-2 gap-3;
}

.spX{
  @apply tracking-wider;
}
.spY{
  @apply tracking-wider;
}


.btnPop{
  @apply w-auto h-auto px-3 py-1.5 rounded-2xl
   bg-blue-600 text-blue-200 text-[9pt] text-center cursor-pointer tracking-wider;
}

.divDownloadBlock{
  @apply absolute top-[10%] left-[30%] bg-zinc-100
  w-[370px] h-auto px-4 py-4 rounded-3xl text-[9pt] text-center shadow-2xl;
}

.showHideDownload{
  @apply visible;
}

.blockHeader{
  @apply py-2 pb-4 w-full text-zinc-800;
}

.spFileNm{
  @apply underline text-[9pt] text-blue-500;
}

.progressBlock{
  @apply py-6;
}

.spProgress{
 position: relative;
 width: 100%;
 height: 2px;
 color:#ededed;
 display: inline-block;
 background-color: rgb(229, 231, 229);
 border-radius: 40px;
 visibility: hidden;
}

.spProgress::before{
  @apply content-[''] absolute left-0 w-[var(--progWidth)] h-full bg-green-600 rounded-2xl;
}

.blockFooter{
  @apply w-full h-full grid grid-cols-2 grid-rows-1 gap-6;
}
.counterBlock{
  @apply w-full h-full flex justify-start items-center;
}

.spPercentage{
  @apply text-2xl font-bold text-zinc-400;
}

.btnBlock{
  @apply flex justify-end;
}

.btnDownload{
  @apply w-auto h-auto px-3 py-2 rounded-2xl
   bg-blue-700 text-zinc-50 text-[9pt] text-center tracking-wider cursor-pointer;
}


}