@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fontManrope:"Manrope";
  --posX:0px;
  --posY:0px;
  --progWidth:0%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope:var(--fontManrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:var(--fontManrope), Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

@layer components{
  .btnAdv{
    @apply w-auto h-auto px-3 py-1.5
     bg-amber-300 text-amber-800 text-[9pt] rounded-2xl
     cursor-pointer text-center tracking-wider;
  }

  .advClass{
    @apply w-auto h-auto px-4 py-2 rounded-2xl
     bg-zinc-700 text-zinc-400 text-[10pt] 
     absolute 
     top-[var(--posY)] left-[var(--posX)];
  }

.divObjPos{
  @apply w-auto h-auto text-[10pt]
   text-amber-300 flex justify-center items-center
   px-3 py-2 gap-3;
}

.spX{
  @apply tracking-wider;
}
.spY{
  @apply tracking-wider;
}


.btnPop{
  @apply w-auto h-auto px-3 py-1.5 rounded-2xl
   bg-blue-600 text-blue-200 text-[9pt] text-center cursor-pointer tracking-wider;
}

.divDownloadBlock{
  @apply absolute top-[10%] left-[30%] bg-zinc-100
  w-[370px] h-auto px-4 py-4 rounded-3xl text-[9pt] text-center shadow-2xl;
}

.showHideDownload{
  @apply visible;
}

.blockHeader{
  @apply py-2 pb-4 w-full text-zinc-800;
}

.spFileNm{
  @apply underline text-[9pt] text-blue-500;
}

.progressBlock{
  @apply py-6;
}

.spProgress{
 position: relative;
 width: 100%;
 height: 2px;
 color:#ededed;
 display: inline-block;
 background-color: rgb(229, 231, 229);
 border-radius: 40px;
 visibility: hidden;
}

.spProgress::before{
  @apply content-[''] absolute left-0 w-[var(--progWidth)] h-full bg-green-600 rounded-2xl;
}

.blockFooter{
  @apply w-full h-full grid grid-cols-2 grid-rows-1 gap-6;
}
.counterBlock{
  @apply w-full h-full flex justify-start items-center;
}

.spPercentage{
  @apply text-2xl font-bold text-zinc-400;
}

.btnBlock{
  @apply flex justify-end;
}

.btnDownload{
  @apply w-auto h-auto px-3 py-2 rounded-2xl
   bg-blue-700 text-zinc-50 text-[9pt] text-center tracking-wider cursor-pointer;
}

.miniCircle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
position: absolute;
bottom: 0;
transform: translateY(0px) scale(0);
opacity: 0.5;
transition: all 400ms;
animation: aniCircle 3s ease-in-out;
}

@keyframes aniCircle {

  0%{
    transform: translateY(0px) scale(0);
    opacity: 1;
  }
  100%{
    transform: translateY(-500px) scale(1);
    opacity: 0;
  }
  
}

.divReelsBlock{
  @apply w-[330px] h-[600px] bg-zinc-900 rounded-2xl relative overflow-hidden;
}

.divReel{
  @apply w-full h-full bg-zinc-100 relative;
}

.divContent{
  @apply w-full h-full text-zinc-800 overflow-hidden;
}

.divContent img{
  @apply w-full h-full object-cover;
}

.divUserBlock{
  @apply w-full h-auto px-4 py-2 bg-linear-0 from-zinc-800 to-zinc-50/0 flex flex-col justify-start items-center gap-2 absolute left-0 bottom-[50px];
}

.divUser{
  @apply w-full flex justify-start items-center gap-3;
}

.divReelsControl{
  @apply w-full h-[50px] flex justify-between 
  items-center absolute bottom-0 left-0 bg-zinc-800 px-4 py-2 overflow-hidden;
}

.divReelsControl .iCons{
  @apply text-[18pt] cursor-pointer;
}

.userPic{
  @apply w-[40px] h-[40px] rounded-full overflow-hidden;
}

.userPic img{
  @apply object-cover w-full h-full;
}

.userName{
  @apply text-[9pt];
}
.btnFollow{
  @apply w-auto h-auto px-1.5 py-0.5
   text-center border-[1px] border-zinc-100 rounded-[6px] text-[8pt] cursor-pointer tracking-wide;
}

.divTune{
  @apply text-[8pt] tracking-wide px-2 overflow-hidden;
}

.divTune span{
  display: block;
  font-size: 8pt;
  transform: translateX(300px);
  animation: spTuneMotion 10s linear infinite;
}


@keyframes spTuneMotion {
  0%{
    transform: translateX(300px);
    
  }
  100%{
    transform: translateX(-300px);
  }
}

.divSocialBlock{
  @apply absolute w-[60px] h-[240px] bg-amber-50/0 right-0 bottom-[75px] 
  flex flex-col justify-evenly items-center gap-2 py-2;
}

.divLike{
  @apply flex flex-col justify-center items-center;
}

.socialIcon{
@apply text-[20pt] cursor-pointer;
}

.likeCount,.commentCount,.shareCount {
  @apply text-[9pt] tracking-wide;
}

.divComment{
  @apply flex flex-col justify-center items-center;
}

.divShare{
  @apply flex flex-col justify-center items-center;
}

.motionBlock{
  @apply w-[550px] h-auto py-1 px-2 overflow-hidden;
}

.motionBlock span{
  display: block;
  font-size: 9pt;
  transform: translateX(400px);
  animation: spanMotion 10s linear infinite;
}



@keyframes spanMotion {
  
  0%{
    transform: translateX(400px);
  }
  100%{
    transform: translateX(-400px);

  }

}

.btnRandom{
  @apply w-auto h-auto px-2 py-2.5 
  text-center text-[10pt] 
  border-[1px] border-zinc-600 rounded-lg cursor-pointer text-zinc-300 tracking-wider;
}

.divRandomStr{
  @apply absolute top-[30%] left-[50%] text-[10pt] text-zinc-300 font-extralight tracking-wider;
}

.feedbackContainer{
  @apply w-[360px] h-auto border-[1px] border-zinc-800 rounded-2xl px-3 py-4 text-[9pt] text-zinc-300;
}

.userFeedback{
  @apply w-full h-auto px-4 py-1.5 relative flex flex-col
   justify-between items-start  transition-all delay-50 cursor-pointer;
}

.userFeedback:hover{
  @apply bg-linear-90 from-zinc-900/5 to-zinc-900 transition-all delay-100;
}



.userFeedback::before{
 @apply content-[''] absolute left-[-5px] top-[10px] size-[10px] rounded-full bg-zinc-700; 
}

.userFeedback::after{
  @apply content-[''] absolute left-0 top-[20px] w-[1px] h-[90%] bg-zinc-700;

}

.userFeedback h1{
  @apply text-[10pt] text-zinc-600 mb-2 font-semibold;
}


.feedbackPost{
  @apply text-[9pt] text-zinc-300 mb-1 tracking-wider;
}

.feedbackpostdate{
  @apply text-[8pt] italic text-zinc-700 tracking-wider;
}


}



